*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
header{
    background-color: #f0f0f0;
    
}
.header_wrapper{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 20px 0;
   align-items: center;
   font-family: lato;

}
.logo{
    width: 20%;

}
.logo img{

}
nav{
   width: 50%;

}
nav ul{
    list-style: none;
    justify-content: end;
    display: flex;   
}
nav ul li{
    margin-left: 30px;   
}
nav ul li a{
    text-decoration: none;
    color: #2d3950;
    text-transform: uppercase;
}
nav ul li a:hover{
    color: #15a4fa;
}
.banner_section{
    position: relative;

}
.banner_section img{
    width: 100%;

}
.banner_contant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.banner_contant h1{
    color: #ffffff;
    font-size: 100px;
    text-transform:uppercase ;
    font-family: lato;


}
.banner_contant p{
    color: white;
    margin: 20px 30px;
    font-family: lato;


}
.banner_contant span{
    display: block;
    height: 1px;
    width: 100%;
    background-color:#15a4fa;
    font-family: lato;


}
.banner_contant button{
    background: transparent;
    color: #fff;
    border:1px solid red;
    text-transform: capitalize;
    padding: 15px 20px;
    border: 1px solid #15a4fa;
    border-radius: 3px;
}
.banner_contant button:hover{
    background-color: #15a4fa;
    transition: .5s all; 
    cursor: pointer;

}
.down{
    position: absolute;
    left: 50%;
    bottom:100px;
    color: #fff;
    font-size: 20px;
    transform: translateX(-50%);
animation:upAndDown 1s linear infinite alternate;
}

@keyframes upAndDown{
    0%{
        bottom: 100px;
    }
    100%{
        bottom:130px
    }
}
.simple_sction{
    background-color: #f6f9f9;
    padding: 50px 0;

}
.simple_contant{
    width: 80%;
    margin: auto;
    text-align: center;

}
.simple_contant h2{
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: lato;

}
.simple_contant p{
    font-family: lato;

}

    







